<div class="container-fluid gff-container">
  <h1>Grid Facet Filtering</h1>
  <div class="row no-gutters filters">
    <div class="col-md-3 gff-logo">
      <img class="gff-logo-image embed-responsive-16by9" src='./assets/job-placement-img.jpg' />
    </div>
    <section class="col-md-9 filters-display">
      <div class="filters-item">
        <div>Filter1<i class="fa fa-close"></i></div>
      </div>
      <div class="filters-item">
        <div>FilterItemNumber2<i class="fa fa-close"></i></div>
      </div>
      <div class="filters-item">
        <div>FilterItem3<i class="fa fa-close"></i></div>
      </div>
    </section>
  </div>
    <div class="row no-gutters facet-content">
      <aside class="facet-filters gff-box col-md-3">
        <div class="facets">
          <section class="facets-category">
            <h4>Parent</h4>
            <div>
              <label><input type="checkbox" /> Item1</label>
            </div>
            <div>
              <label><input type="checkbox" /> Item2</label>
            </div>
            <div>
              <label><input type="checkbox" /> Item3</label>
            </div>
          </section>
        </div>

      </aside>
      <div class="col-md-9 gff-box">
        <div class="container-fluid">
          <div>

          </div>
        </div>

      </div>
    </div>
</div>
