<div class="container-fluid gff-container">
  <h1>Grid Facet Filtering</h1>
  <div class="row no-gutters filters">
    <div class="col-md-3 gff-logo">
      <img class="gff-logo-image embed-responsive-16by9" src='./assets/job-placement-img.jpg' />
    </div>
    <ul class="col-md-9 filters-display">
      <li class="filters-item">
        <label>Filter1<i class="fa fa-close"></i></label>
      </li>
      <li class="filters-item">
        <label>FilterItemNumber2<i class="fa fa-close"></i></label>
      </li>
      <li class="filters-item">
        <label>FilterItem3<i class="fa fa-close"></i></label>
      </li>
    </ul>
  </div>
  <div class="row no-gutters facet-content">
    <aside class="facet-filters gff-box col-md-3">
      <category-filters *ngIf="categoryFilters" [filters]="categoryFilters" (filterCheckBox)="filterCheck($event)"></category-filters>
    </aside>
    <div *ngIf="displayItems" class="col-md-9 list-container">

      <div class="list-container-scroll">
        <div *ngFor="let item of displayItems; let i=index" class="item-container">
          <div class="item">
            <div class="item-img">
              {{i}}
            </div>
            <div class="item-content">{{item.name}}</div>
            <div class="item-content">{{item.mpg}}mpg</div>
            <div class="item-content">{{item.lbs}}lbs</div>
            <div class="item-content">{{item.acc}}acc</div>
            <div class="item-content">{{item.year}}year</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
