.gff-container {
  border: 1px solid #000000;
  background-color: #1C212A;
  color: #ffffff;
}

.gff-container h1 {}

.filters {
  margin-bottom: 15px;
}

.filters-display {
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: #2E3747;
  list-style: none;
}

.filters-item {
  font-size: 1.2rem;
  height: 1.7em;
  min-width: 5em;
  text-align: center;
  margin: 5px;
  position: relative;
  border: 1px solid #000000;
  border-radius: 10px;
}

.filters-item label {
  height: 100%;
  padding-left: 1.5625em;
  padding-right: 1.5625em;
}

.filters-item .fa-close {
  font-size: 1rem;
  position: absolute;
  right: .5em;
  top: 50%;
  transform: translateY(-50%);
}

.gff-logo {
  height: 100px;
  position: relative;
  overflow: hidden;
  border: 1px solid #000000;
}

.gff-logo-image {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  vertical-align: top;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gff-box {
  min-height: 300px;
  /* border: 1px solid #000000; */
}

.facet-content {
  margin-bottom: 15px;
}

.facet-filters {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #2E3747;
  border: 1px solid #000000;
}

.list-container {
  width: 100%;
  height:100%;
  border: 1px solid #000000;
}

.list-container-scroll {
  width: 100%;
  height: 100%;
  max-height: 1000px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #000000;
}

.item-container {
  width: 300px;
  height: 300px;
  padding: 15px;
}

.item {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #2B3142;
}
