.filters-display {
  width:100%;
  height:100%;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: #2E3747;
  list-style: none;
}

.filters-item {
  font-size: 1.2rem;
  height: 1.7em;
  min-width: 5em;
  text-align: center;
  margin: 5px;
  position: relative;
  border: 1px solid #000000;
  border-radius: 10px;
}

.filters-item label {
  height: 100%;
  padding-left: 1.5625em;
  padding-right: 1.5625em;
}

.filters-item label:hover {
  cursor: pointer;
}

.filters-item input[type=checkbox] {
  display:none;
}

.filters-item .fa-close {
  font-size: 1rem;
  position: absolute;
  right: .5em;
  top: 50%;
  transform: translateY(-50%);
}
