html {
  height: 100%;
  min-height: 100%;
  font-size: 16px; /* font size that controls all font-size: @.@rem */
}

body {
  height: 100%;
  min-height: 100%;
  color:#000000;
  overflow: auto;
  margin: 0;
  position: relative;
}
